* {
    padding: 0;
    margin: 0;
    transition: .4s ease-in-out;
    /* плавность переходов для всех элементов страницы*/
}

@font-face {
    font-family: 'Roboto-BlackItalic';
    src: url('../../fonts/Roboto/Roboto-BlackItalic.eot');
    src: url('../../fonts/Roboto/Roboto-BlackItalic.eot?#iefix') format('embedded-opentype'), url('../../fonts/Roboto/Roboto-BlackItalic.woff') format('woff'), url('../../fonts/Roboto/Roboto-BlackItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Medium';
    src: url('../../fonts/Roboto/Roboto-Medium.eot');
    src: url('../../fonts/Roboto/Roboto-Medium.eot?#iefix') format('embedded-opentype'), url('../../fonts/Roboto/Roboto-Medium.woff') format('woff'), url('../../fonts/Roboto/Roboto-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Regular';
    src: url('../../fonts/Roboto/Roboto-Regular.eot');
    src: url('../../fonts/Roboto/Roboto-Regular.eot?#iefix') format('embedded-opentype'), url('../../fonts/Roboto/Roboto-Regular.woff') format('woff'), url('../../fonts/Roboto/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

h1,
h2,
h3,
h4 {
    font-family: 'Roboto-BlackItalic';
}

body,
p,
table,
a {
    font-family: 'Roboto Regular';
}

#wrapper {
    overflow-x: hidden;
}

.logo {
    width: 100%;
    height: auto;
    margin-right: 2em;
    max-width: 100px;
    min-width: 40px;
}

.nav-item a:hover {
    color: white;
}

.nav-link {
    font-size: 1.2em;
    padding-top: 1em;
}

li {
    padding-right: 0.5em;
}

.dropdown-menu {
    background-color: #ffffff;
    opacity: .8;
}

.dropdown-menu a:hover {
    /* Dropdown color */
    background-color: #00ff68 !important;
}

.container-4 {
    overflow: hidden;
    width: 300px;
    vertical-align: middle;
    white-space: nowrap;
    padding-top: 5px;
}

.container-4 input#search {
    width: 200px;
    height: 40px;
    background: #ffffff;
    border: 0.5px solid gray;
    font-size: 10pt;
    float: left;
    color: gray;
    padding-left: 15px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin-left: 80px;
}

.container-4 input#search::-webkit-input-placeholder {
    color: #65737e;
}

.container-4 input#search:-moz-placeholder {
    /* Firefox 18- */
    color: #65737e;
}

.container-4 input#search::-moz-placeholder {
    /* Firefox 19+ */
    color: #65737e;
}

.container-4 input#search:-ms-input-placeholder {
    color: #65737e;
}

.col-white {
    color: white;
}

.container-4 button.icon {
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-bottomright: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: none;
    background: #00ff68;
    height: 40px;
    width: 40px;
    color: white;
    opacity: 0;
    font-size: 10pt;
    -webkit-transition: all .15s ease;
    -moz-transition: all .15s ease;
    -ms-transition: all .15s ease;
    -o-transition: all .15s ease;
    transition: all .15s ease;
}

.container-4:hover button.icon,
.container-4:active button.icon,
.container-4:focus button.icon {
    outline: none;
    opacity: 1;
    margin-left: -40px;
}

.container-4:hover button.icon:hover {
    color: gray;
}

@media only screen and (max-width: 1000px) {
    .container-4 input#search {
        margin-left: 0px;
    }
}

.carousel-imgs {
    max-width: 1170px;
    max-height: 500px;
    min-height: 300px;
    width: 100%;
    height: auto;
}

div#carouselExampleIndicators {
    margin-top: 40px;
}

@media only screen and (max-width: 1050px) {
    .carousel-imgs {
        min-height: auto;
    }
}

.carousel-font {
    color: #141313;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    height: 100px;
    width: 100px;
    outline: black;
    background-size: 100%, 100%;
    background-image: none;
}

.carousel-control-next-icon:after {
    content: '>';
    font-size: 55px;
    color: black;
}

.carousel-control-prev-icon:after {
    content: '<';
    font-size: 55px;
    color: black;
}

.carousel-text {
    font-size: 1.5em;
}

@media only screen and (max-width: 1050px) {
    .carousel-text {
        font-size: 1.1em;
    }
}

.mn {
    grid-area: main;
}

.mn0 {
    grid-area: main0;
}


/* Main 2 with background */

.grid1 {
    background-position: bottom right;
    background-size: 440px 440px;
    background-image: url(../../Images/Depositphotos_1525631_m-2015-640x640.jpg);
    background-repeat: no-repeat;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2em;
    justify-items: left;
    text-align: left;
    grid-auto-rows: minmax(100px, auto);
    grid-template-areas: "main main main main0" "main main main0 main0"
}


/* end mn2 */

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2em;
    justify-items: left;
    text-align: left;
    grid-auto-rows: minmax(100px, auto);
    grid-template-areas: "main main";
}

.small-images-main {
    padding-top: 2em;
    padding-bottom: 2em;
}

#main-h {
    margin-top: 1.5em;
}


/* Main2 media */

@media only screen and (max-width: 1050px) {
    .grid1 {
        grid-template-columns: repeat(2, 1fr);
        background-image: none;
    }
}

@media only screen and (max-width: 625px) {
    .grid1 {
        grid-template-columns: repeat(1, 1fr);
        grid-template-areas: "main";
        background-image: none;
    }
}

@media only screen and (max-width: 625px) {
    #hide {
        display: none;
    }
}

@media only screen and (max-width: 1050px) {
    #hide {
        display: none;
    }
}


/* end Mn2 media */

@media only screen and (max-width: 1050px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (max-width: 625px) {
    .grid {
        grid-template-columns: repeat(1, 1fr);
        grid-template-areas: "main";
    }
}


/* Carousel bottom */

.main2-bg {
    background-color: #f5f5f5;
    padding: 2em;
    padding-bottom: 1em;
}

.card {
    margin: 0 auto;
    background-color: #f5f5f5;
    border: none;
}

.card .carousel-item {
    height: 220px;
    min-height: 220px;
}

.card .carousel-caption {
    padding: 0;
    right: 0;
    left: 0;
    color: #141313;
}

.card .carousel-caption h3 {
    color: #141313;
}

.card .carousel-caption p {
    line-height: 30px;
}

.card .carousel-caption .col-sm-3 {
    display: flex;
    align-items: center;
}

.card .carousel-caption .col-sm-9 {
    text-align: left;
}

.navi a {
    text-decoration: none;
}

.otziv-face {
    color: gray;
}

@media only screen and (max-width: 1750px) {
    .card {
        min-width: 950px;
        padding-top: 1em;
    }
}

@media only screen and (max-width: 980px) {
    .card {
        min-width: 670px;
    }
}

@media only screen and (max-width: 780px) {
    .card {
        min-width: 370px;
        align-items: left;
    }
}

@media only screen and (max-width: 577px) {
    .hide {
        /* min-width: auto;
        min-height: 400px; */
        display: none;
    }
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    height: 100px;
    width: 70px;
    padding-top: 1em;
}

.mgmb {
    margin-bottom: 5em;
}

.mgmt {
    margin-top: 4em;
}